@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
html { font-family: Inter, sans-serif; background: #282828; padding: 1rem; color: white; }
body { max-width: 960px; margin: 0 auto; background: #3f3f3f; border-radius: 15px; }
h1 { color: #377ba8; margin: 1rem 0; }
a { color: #377ba8; font-weight: 700; }
hr { border: none; border-top: 1px solid #121212; }
nav { background: #121212; display: flex; align-items: center; padding: 0.5rem 0.5rem; border-radius: 15px 15px 0 0; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid #121212; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #668ea7; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input { color: white; padding: 10px; border-radius: 10px; font-family: Inter, sans-serif; border: solid rgb(118, 118, 118); border-width: 1px; background-color: #282828; }
input.danger { background-color: #a22222 !important; }
input[type=submit] { border-radius: 10px; align-self: start; min-width: 10em; border: none; background-color: #377ba8; color: white; font-weight: 700; }
textarea { color: white; background-color: #282828; padding: 10px; border-radius: 10px; font-family: Inter, sans-serif; }